[Desktop Entry]
Encoding=UTF-8
Name=Adicionales
Comment=Acciones adicionales
Icon=system
Exec=gksu '/usr/bin/adicionales'
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
