[Desktop Entry]
Encoding=UTF-8
Name=Instalar a usb
GenericName=Instalar a usb
Comment=Instalar a usb
Exec=xterm -e refracta2usb
Icon=/usr/share/pixmaps/refracta2usb.png
Terminal=false
Type=Application
Categories=System;Application
X-KDE-SubstituteUID=false
