[Desktop Entry]
Type=Application
Icon=trashcan_empty.png
Name=Papelera
Name[es]=Papelera
GenericName[es]=Papelera
Comment=Abrir papelera
Comment[es]=Abrir papelera
Exec=pcmanfm trash:///
StartupNotify=true
Terminal=false
MimeType=x-directory/normal;inode/directory;
